<div class="user-det3 border">
  <div class="user-post">
  <h3>Post: #<%= @post.id %> <br /> <%= @post.title %> by <span><%= @post.user.name %></span></h3>
  <p class = "bottom-right">Comment <%= num_of_comment(@post)%>,  <span>Likes <%= num_of_likes(@post)%></span></p>
</div>
  <p><%= @post.text %></p>  
</div>
</div>
<div>
<div class="comments border">
<% @comments.each do |comment| %>
   <p><%= comment.user.name%>: <%= comment.text%></p>
<%end%>
</div>